@media only screen and (min-width: 380px) {
  .opponent-phrase {
    /* font-size: 0.9rem;
  margin: 0;
  text-align: center; */
  }
  .opp-phrase-container {
  }
  .opponent {
    /* outline: 10px solid green; */
    /* width:50em; */
  }
  .opp-avatar {
    /* outline: 10px solid yellow; */
    width: 7em;
  }
  .opp-avatar-container {
    /* outline: 10px solid yellow; */
  }
  /* tail and cloud */
}
@media only screen and (min-width: 425px) {
}

@media only screen and (min-width: 600px) {
  /* .opponent-phrase{
    
  } */

  .thought-bubble {
    /* width: calc(100% + 5em);
  height: calc(100% + 5em); */
    width: calc(100% + 5em);
    height: calc(100% + 7em);
    width: calc(100% + 5em);
    height: calc(100% + 7em);
    /* opacity: 1; */
  }
}
@media only screen and (min-width: 800px) {
  .opponent-phrase {
    font-size: 1.2rem;
  }
  .opp-avatar {
    /* outline: 10px solid yellow; */
    /* width: 7.5em; */
  }
  .thought-bubble {
    /* width: calc(100% + 5em);
  height: calc(100% + 5em); */
    width: calc(100% + 6.5em);
    height: calc(100% + 7.5em);
  }
}

@media only screen and (min-width: 1000px) {
  /* .opponent-phrase{
    font-size: 1.5rem;
  }
  .opp-avatar{
    
    width: 9em;
  }
.thought-bubble{
    
width: calc(100% + 7em);
height: calc(100% + 10em);
  } */
}
@keyframes rainbow {
  100%,
  0% {
    box-shadow: rgba(255, 0, 0, 0.25) 0px 25px 50px -12px;
    /* color: rgb(255, 0, 0); */
  }
  8% {
      box-shadow: rgba(255, 127, 0.25) 0px 25px 50px -12px;
    /* color: rgb(255, 127, 0); */
  }
  16% {
     box-shadow: rgba(255, 255, 0.25) 0px 25px 50px -12px;
    /* color: rgb(255, 255, 0); */
  }
  25% {
    box-shadow: rgba(127, 255, 0.25) 0px 25px 50px -12px;
    /* color: rgb(127, 255, 0); */
  }
  33% {
    box-shadow: rgba(0, 255, 0.25) 0px 25px 50px -12px;

    /* color: rgb(0, 255, 0); */
  }
  41% {
    box-shadow: rgba(0, 255,127, 0.25) 0px 25px 50px -12px;
    
    /* color: rgb(0, 255, 127); */
  }
  50% {
    box-shadow: rgba(0, 255,255, 0.25) 0px 25px 50px -12px;

    /* color: rgb(0, 255, 255); */
  }
  58% {
    box-shadow: rgba(0, 127, 255, 0.25) 0px 25px 50px -12px;
    /* color: rgb(0, 127, 255); */
  }
  66% {
        box-shadow: rgba(0, 0, 255, 0.25) 0px 25px 50px -12px;
    /* color: rgb(0, 0, 255); */
  }
  75% {
        box-shadow: rgba(127, 0, 255, 0.25) 0px 25px 50px -12px;
    /* color: rgb(127, 0, 255); */
  }
  83% {
        box-shadow: rgba(255, 0, 255, 0.25) 0px 25px 50px -12px;
    /* color: rgb(255, 0, 255); */
  }
  91% {
        box-shadow: rgba(255, 0, 127, 0.25) 0px 25px 50px -12px;
    /* color: rgb(255, 0, 127); */
  }
}