.user-container {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* z-index: 0; */
  width: 100%;
  height: 45%;
  outline: 2px solid yellow;
}

.user-thought-bubble-tail {
  width: 2.2em;
  margin-top: -1.2em;
  margin-right: -0.4em;
}
.user-thought-bubble {
  position: absolute;

  width: calc(100%);
  height: calc(100% + 3em);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  /* min-width: 20em; */
  transition: opacity 0.3s ease;
}
/* .user-container > *{
  outline:2px solid red;
} */
.user-avatar-container {
  position: absolute;
  top: calc(100% + 0.7em);
  left: -2em;
  top: 70%;

  /* outline:2px solid red; */
  display: flex;
}
.user-avatar {
  width: 5em;
  transform: scaleX(-1);
}

.user-speech-bubble-tail {
  transform: scaleX(-1);
  width: 4em;
  /* margin-top: -7em;
  margin-left: -0.8em; */
  margin-top: -3em;
  margin-left: -.5em;
  /* outline:2px solid red; */
}
/* .user-scroll-container { */
/* position: absolute; */
/* left: 0; */
/* min-width: 50vw;
 min-height: 40vh; */
/* margin:2em 0em .5em 2em; */
/* bottom: 0; */
/* margin-left: 0.3em;
  padding: 3em 8% 3em 3.5%; */
/* background-image: url(../public/assets/parchmentBackground.svg); */
/* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
/* z-index: 99; */
/* font-size: 1rem; */
/* outline:2px solid red; */
/* max-width: fit-content; */
/* margin-right: -0.5em; */
/* outline: 2px solid turquoise; */

/* } */
/* .user-input *{ */
/* outline:2px solid blue; */
/* font-size: 1rem; */
/* } */
.user {
  position: relative;
  font-family: var(--font-2);
  color: rgb(14, 85, 172);
  /* font-size: 0.6rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto;
  /* width: fit-content; */
  max-width: 80%;
  /* width: calc(fit-content+2em); */
  /* max-width: 80%; */
  /* outline:2px solid red; */
  /* padding: 1em 6em;  */
}
.user-text-container {
  /* position: relative;
  color: rgb(11, 50, 223);
  user-select: none;
  width: fit-content;
  padding: 0.5em 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  max-width: 80%; */

  position: relative;
  min-width: 30ch;
  min-height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 60ch;
  /* margin: 0 auto; */
  /* margin-left: 2em; */
  /* font-size: 0.8rem; */
  /* display: flex; */
  /* align-items: center; */
  /* outline:2px solid red;
  width: 100%;
  margin: 0;
  width: 10em; */
  /* margin: 0 1em; */
  /* font-size: 150%; */
  /* outline:2px solid yellow; */
  /* margin-right: 2.5em; */
  /* overflow: hidden; */
  /* outline:2px solid red; */
  /* width: 80%; */
  /* aspect-ratio: 5/ 1; */
  /* aspect-ratio: 5/1; */
}

.input-size-container {
}
.input-size-span {
  white-space: pre;
}
.phantom-span {
  /* outline:2px solid red; */
}
.phantom-space {
  /* outline:2px solid red; */
}
.phantom-end {
  border-right: 5px solid #fff;
  /* outline:2px solid red; */
}
.user-text-input {
  position: absolute;
  color: #fff;
  /* font-size: 1rem; */
  background: transparent;
  font-family: "Quintessential", cursive;
  outline: none;
  border: none;
  /* border-bottom: 2px solid brown; */
  color: red;
  letter-spacing: 1.8px;
  word-spacing: 1px;
  white-space: wrap;
  /* outline:2px solid red; */
  caret-color: #fff;
  padding: 0;
  /* outline: 2px solid red; */
  opacity: 0;
  cursor: not-allowed;
  z-index: -3;
  /* display: none; */
  /* margin-left: 0; */
  /* outline:2px solid red; */
}

.user-text-input::placeholder {
  letter-spacing: 1.8px;
  margin-left: 0;
  word-spacing: 1px;
  white-space: wrap;
  width: fit-content;
}

/* .suggestion {
  user-select: none;
  position: relative;
  width: 100%; 
  font-size: 150%; 
  outline:2px solid yellow;
} */
.visual-progress {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  /* position: absolute; */
  /* min-width: 17em; */
  /* max-width: 18em; */
  /* top: 12px;
  left: 18px; */
  /* width: 100%;
  height: 100%; */
  /* position: relative; */
  /* outline: 2px solid green; */
  /* justify-content: center;
  justify-content: justify; */
  /* align-items: center; */
  /* width: fit-content; */
}
.visual-progress span {
  /* think about this */
  /* what about using a span? */
  /* width: auto;
  height: auto; */
  margin: 0;
  /* padding: 0; */
  cursor: not-allowed;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* min-width: 0.45ch; */
  /* max-width: 1ch;
  max-height: 1.5ch;  */
  font-family: var(--font-2);
  font-size: 1.1rem;
  /* font-size: 4vw; */
}

.green {
  /* background: rgba(0, 255, 85, 0.301);   */
  /* color: rgb(131, 197, 32); */
  background: rgb(131, 197, 32, 0.432);
  /* display: flex;
  align-items: center; */
}
.red {
  /* background: rgba(255, 0, 0, 0.301); */
  /* color: red; */
  background: rgba(255, 0, 0, 0.432);
  /* display: flex;
  align-items: center; */
}
.yellow {
  /* background: rgba(255, 0, 0, 0.301); */
  /* color: red; */
  background: rgba(249, 238, 17, 0.982);
  /* display: flex;
  align-items: center; */
  color: #231e1eea;
  border-bottom: 5px solid rgba(255, 255, 255, 0.912);
  animation: glow 1s ease-in-out infinite alternate;
}
.gray {
  /* background: rgba(255, 0, 0, 0.301); */
  color: #8a8888;
  /* background: rgba(143, 143, 142, 0.11); */
  /* display: flex;
  align-items: center; */
  /* outline:2px solid red; */
}
.space {
  color: transparent;
  padding: 0 0.02em;
  /* border-radius: 5px; */
}
.feather-position-user {
}
.user-profile-container {
  display: flex;
  width: 100%;
  /* outline: 2px solid red; */
}
input::first-letter {
  color: green;
  /* text-transform: capitalize; */
}
.caps-lock-indicator {
  position: absolute;
  bottom: 80%;
  font-family: var(--font-1);
  font-size: 1rem;
  color: rgb(204, 39, 67);
  left: 45%;
  /* top: 5%;
  top: 50%; */
  /* outline:2px solid red; */
}

.streak-box {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
}
.streak-box h3 {
  color: #8a8888;
}
.coin {
  /* width: 12em;
  height: 12em; */
  /* width: 1.5em;
  height: 1.5em; */
  border-radius: 50%;
  font-family: var(--font-1);
  padding: 1.5em;
  display: grid;
  place-items: center;
  background: rgb(244, 192, 62);
  
  position: absolute;
  /* bottom: 80%;
  right: 0em; */
  z-index: 2;
  top: 170%;
  left: 1em;
  outline: 5px double rgb(225, 178, 67);
  outline-offset: -0.2em;
  /* outline:2px solid red; */
  /* overflow: visible; */
}
@media only screen and (min-width: 380px) {
  .visual-progress span {
    font-size: 1.3rem;
  }
  .user-text-container {
    padding: 0.8em 1.6em;
  }
  .user-avatar{
    width: 5.5em;
  }
}
@media only screen and (min-width: 600px) {
  .visual-progress span {
    font-size: 1.6rem;
  }
  .user-text-container {
    padding: 1em 1.8em;
  }
  .user-thought-bubble {
    width: calc(100%);
    height: calc(100% + 5em);
    transition: opacity 0.7s ease;
  }
   .user-avatar{
    width: 6em;
  }
  .coin{
    font-size: 1.3rem
  }
  /* .streak-number  {
    outline:2px solid red;
  } */
}
@media only screen and (min-width: 800px) {
  .visual-progress span {
    font-size: 1.8rem;
  }
  .user-text-container {
    padding: 1.6em 2em;
  }
  .user-avatar{
    width: 6.5em;
  }
}
@media only screen and (min-width: 1000px) {

  /* .visual-progress span {
    font-size: 2.4rem;
  }
  .user-text-container {
    padding: 2em 2.5em;
  }
  .user-avatar{
    width: 7em;
  } */
}
@media only screen and (min-width: 1200px) {
  /* .visual-progress span {
    font-size: 2.5rem;
  }
  .user-text-container {
    padding: 2em 2.5em;
  } */
}
